










*{
	margin: 0;
}
.block1{
	height:62px;
	width:100%;
	background-color:black;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6); 

	
}
header{
	position:relative;
	background-color:black;
	height:62px;
	width:100%;
	top:0%;
	left:0%;
	  box-shadow: 0px 4px 9px 0px #c0c0c0;

}
#block2{
	height:150%;
	width:100%;
	background-color:;
}
.sideL{
	position:relative;
	width:10%;
	height:800px;
	float:right;\
}
li{
	list-style-type:none;
}
button{
	display:inline-block;
}
h2{
	padding-right:70px;
	margin-left:28%;
	padding-bottom:30px;
	font-family:ALGERIAN;
}
.viget{
	float:right;
	margin-top:0%;
}
.tx{
  float:left;
  width:100%;
  background:;
  padding-left:80px;
  padding-right:80px;
  color:black;
}
.menu{
	font-family:arial black;
	margin-left:-33;
		border:1px solid gray;
}
 ul.hr {
    margin: 0;
    padding: 4px; 
   }
   ul.hr li {
    display: inline; 
    margin-right: 5px; 
    padding: 3px;
   }
.coinmarketcap-currency-widget{
	color:black;
	width:300px;
}
.txt{
	position:absolute;
	top: 32%;
    left: 29%;
}

.light{
	display:inline-block;
}
#accordion{
	background-color:;
	margin-top:25%;
}
.top{
	font-size:2em;
	margin-top:20%;
}
.card bg-dark text-white{
	width:500px;
	height:100px;
}
.carousel slide{
	height:50%;
	width:50%;
}
p{
	font-family:roboto;
    font-weight: 600;
	font-size:1.5em;
	color:black;
}

p.lg{
	font-family:lucida console;
    font-weight: 600;
	font-size:2.0em;
	color:yellow;
	margin-top:10px;
	
}
.tx1{
	margin-left:-45%;
	padding-left:80px;
	padding-right:80px;
}

p.lg span{
	color:white;
}
  .card:link {
    padding: 2px; /* Поля вокруг текста */ 
   }
   .card:hover {
    background: #FFFFE0		; /* Цвет фона под ссылкой */ 
    color:black; /* Цвет ссылки */ 
   } 

.card{
    padding: 20px;
    -webkit-transition-duration: 2s;
    -o-transition-duration: 2s;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
   }
 .currency{
	 margin-left:-1%;
 }
 img.tx1{
	 padding-left:280px;
 }
 .lite{
	 margin-left:32%;
   }
body{
	background-color:
	#FFFAFA	
		 !important;
;
}
a{
}
.postcard{
}
 a:link {
    color: black;
    padding: 2px; 
   }
   a:hover {
    color: black;
   } 
.pos-f-t{
	width:100%
	 !important;
;
}
.card bg-dark text-white{
	height:200px
   !important;
}
.logo3{
	margin-bottom:30px;
	margin-left:-25px;
	
}
.logo{
	color:yellow;
    font-size:222%;
	font-family:lucida console;
}
.glyphicon glyphicon-stats{
	color:yellow;
}
.card-columns {
 @include media-breakpoint-only(lg) {
    column-count: 4;
}
@include media-breakpoint-only(xl) {
    column-count: 5;
}
}
.pos-f-t{
	width:100%
	;
}
.z{
	color:black;
}
.card1{
	float:left;
}
.card2{
	float:right;
}
.d-block w-100{
	width:50%;
	height:50%;
}

.carousel-item{
 color:black;
 width:46%
 !important;
 margin-left:28%;
 margin-top:-30%;
}
.card bg-dark text-white{
	width:20%
	 !important;
}
.logo1{
	color:white;
    font-size:150%;
	font-family:lucida console
;
}

.light1{
	display:inline-block;
	padding-left:40px;
}
.crypto{
	width:100%;
	height:100%;
	padding-left:25px;
}
.sidebar{
	float:right;
}
.rss{margin:10px;  padding-bottom: 15px;}
		
		.rss_container{padding:10px; background: #fff;}
		
		.media{background-color:#f0f0f0; background-image:url(https://www.rss-script.ru/img/skrepka.gif); background-repeat:no-repeat; padding-top: 5px;padding-bottom: 5px;padding-left: 13px}
		
		.media a{color:#000000;font-size:0.7em}
		
		.media a img{height:16px; border:0px; vertical-align: middle; text-decoration: none; margin:3px;}
		
		.rssdate{font-size:0.7em; color:#c0c0c0; margin:7px; }
		
		.rssdate a{color:#c0c0c0;}
		